* {
    color: #C5c6c7;  
}
body {
    background-color: #1f2833;
    border-width: 10px;
    border-color: rgb(31, 0, 206);
    padding: 15px;
}
#profile {
    border-width: 20px;
    border-color: black;
    padding: 15px;
}
#Love {
  color: #66fcf1;
}
.center_header {
  text-align: center;
}
#biop {
  font-family: cursive;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
}
ul {
  margin-left: 25px;
}
li {
  padding-left: 10px;
  padding-top: 5px;
}
#profile {
  margin-left: 35%;
}
.middle_columns {
  border: 5px groove #C5c6c7;
  background-color: #45a29e;
  float: left;
  width: 32%;
  height: 220px;
}
#top_10 {
  font-family: cursive;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 20%;
  padding: 15px;
}