* {
    color: rgb(0, 0, 0);  
}
body {
    background-color: aquamarine;
    border-width: 10px;
    border-color: rgb(31, 0, 206);
    padding: 15px;
}
#profile {
    border-width: 20px;
    border-color: black;
    padding: 15px;
}
#Love {
  color: red;
  padding-top: 15px;
}
.center_header {
  text-align: center;
}
#biop {
  font-family: cursive;
  margin-left: 20px;
  padding: 15px;
}
ul {
  margin-left: 25px;
}
li {
  padding-left: 10px;
  padding-top: 5px;
}